body{
	background-color: #f7f7f7;
	font-size: 16px;
}
 /* start bootstrap */
.navbar {
    border-radius: 0;
		margin-bottom: 0;
}
.navbar-brand {
	font-size: 1em ;
	 padding: 15px 12px;
}
.nav >li >a {
padding: 15px 12px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
 .navbar-inverse .navbar-nav>.open>a:hover,
 .dropdown-menu {

    background-color: #3498db;
}
 .dropdown-menu {
    min-width: 230px;
		border-radius:10px;
		border: none;
	}
.dropdown-menu > li > a {
	color: #fff;
	padding: 15px 20px ;
	border-bottom: 1px solid #fff;
}
.dropdown-menu > li > a:hover{
background-color: #9b59b6;
}
h1{
	font-size: 52px;
	margin: 40px 0;
	font-style:italic;
  font-weight: bold;
	color: #959595;
  }
	/*Login page*/
	.login-page h1{
		color:#bfbaba;
		font-weight: bold;
		font-size: 55px;
	}
	.login-page span{
		cursor: pointer;
	}
.login-page .selected[data-class='login']{
		color: #286090;
	}
.login-page .selected[data-class='signup']{
		color: #449d44;
	}
.login-page form,
.error .err-mes
	{
		max-width: 380px;
		margin: auto;
	}
	.login-page .form-group{
		position: relative;
  }
	.login-page form input{
		margin-bottom: 10px;
	}
	 .login-page form input::placeholder{
		font-size: 13px;
	 }
.login-page .signup{
	display: none;
}
	.astrais{
		position: absolute;
    right: 6px;
    font-size: 33px;
    top: 7px;
    color: #f00;
	}
.add_ad .astrais{
	position: absolute;
	right: 17px;
	font-size: 28px;
	top: 4px;
	color: #f00;
}
.error .err-mes{
	padding: 10px;
	text-align: left;
	background-color: #fff;
	margin-bottom: 8px;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	color: #919191;
}
.err-mes{
	border-left: 5px solid #cd6858;
}
.success{
	border-left: 5px solid #3f9812;
}
/*login end*/
/*header*/
.upper-nav{
	padding: 10px;
	background-color: #fff;
}
.upper-nav .info{

}
.my-img{
	width: 37px;
}
/*end header*/
/* the categories page */
.item-box{
	position: relative;
}
.item-box .caption p{
	height: 44px;
	max-height: 44px;
	overflow-y:hidden;
}
.item-box .price-tag{
	  position: absolute;
    background-color: #d4d0d0;
    color: #fff;
    padding: 2px 6px;
    left: 0px;
    top: 5px;
	  font-weight: bold;
}
/* the End categories page */

/*start profile*/
.information{
	margin:20px 0 0;
}
.information ul{
	margin: 0;
	padding: 0;
}
.information ul li{
	padding: 10px;
}
.information ul li:nth-child(odd){
	background-color: #eee;
}
.information ul li span{
	display: inline-block;
	width: 200px;
}
.information .btn{
	margin-top: 10px;
}
.add_ad .astrais{
	position: absolute;
	right: 17px;
	font-size: 28px;
	top: 4px;
	color: #f00;
}
.thumbnail .date{
	text-align: right;
	font-size: 13px;
	color: #A7A;
	font-weight: bold;
}
.approve-status {
	background-color: #d83838;
	padding: 6px;
	width: 102px;
	color: #fff;
	font-size: 13px;
	position: absolute;
	left: 0;
	top: 39px;
	font-weight: bold;
}
/*end profile*/

/*Show item*/
.item-info h2{
	padding: 10px;
	margin: 0;
}
.item-info p{
	padding: 10px;
}
.item-info ul li{
	padding: 10px;
}
.item-info ul li:nth-child(odd){
	background-color: #e2e1e1;
}
.item-infoul li span{
	display: inline-block;
	width: 200px;
}
/*end show iem*/
/*custom*/
.custom-hr{
	  border-top: 1px solid #c9c9c9;
}
/*custom*/

/*add comment*/
.add-comment h3{
	margin: 0 0 10px;
}
.add-comment textarea{
	display: block;
	width: 800px;
	height: 50px;
	margin-bottom: 10px;
}
.comment-box{
	margin-bottom: 0px;
}
.comment-box img{
	max-width: 80px;
	margin-bottom: 10px;
}
.comment-box .load{
	background-color: #e2e1e1;
	padding: 10px;
	margin-top: 25px;
	border-radius: 3px;
	position: relative;
}
.comment-box .load::before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent #e2e1e1 transparent transparent;
	top: 5px;
  left: -20px;

}
/*end of add comment*/
